<div class="mt-4 col-md-6">
    <div class="card">
        <div class="card-header d-flex justify-content-start">
            <div>New Post</div>
        </div>
        <form class="card-body d-flex flex-column" id="addpost-form">
            <input type="text" class="card-title" placeholder="Title" id="post-title">
            <textarea type="text" class="card-text" placeholder="Post Content" rows="6" cols="75" id="post-content"></textarea>
            <div class="m-2 d-flex justify-content-center">
                <button type="submit" id="submit" class="btn btn-primary m-1">Submit</a>
            </div>
        </form>
    </div>
</div>